[submodule "Sugar_Frontend"]
	path = Sugar_Frontend
	url = https://github.com/nek00oo/Sugar_Frontend
	branch = master
[submodule "sugar-backend"]
	path = sugar-backend
	url = https://github.com/lilpipidron/sugar-backend
[submodule "sugar_backend"]
	branch = main
